.news__parent, div {
    margin: 0 auto;
    width: 100%;
    height: 100%;
}
.news__child {
    position: absolute;
    width: 600px;
    height: 600px;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
}